<% provide(:title, @user.name) %>

<% user_presenter = UserPresenter.new(@user) %>
<p id="notice"><%= notice %></p>

<div class="user_heading">
  <%= user_presenter.gravatar %>
  <h1><%= @user.name %></h1>
</div>

<h2>User Statistics</h2>
<table id="stats">
    <tr>
      <th>Games Won</th>
      <td align="right"><%= @user.won_games.count %></td>
    </tr>
    <tr>
      <th>Games Lost</th>
      <td align="right"><%= @user.lost_games.count %></td>
    </tr>
    <tr>
      <th>Games In Progress</th>
      <td align="right"><%= @user.in_progress_games.count %></td>
    </tr>
    <tr>
      <th>Total Games</th>
      <td align="right"><%= @user.games.count %></td>
    </tr>
    <tr>
      <th>Win-Loss Rate</th>
      <td align="right"><%= "%.2f" % @user.win_loss_rate %></td>
    </tr>
    <tr>
      <th>Ranked Score</th>
      <td align="right"><%= @user.rank_points %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
