<%= form_for([@game, @guess]) do |f| %>

  <%= render :partial => "layouts/errors", :locals => { :item => @guess } %>

  <div class="actions">
    <%= f.label :letter, "Letter" %>
    <%= f.text_field :letter, :autocomplete => :off, class: 'form-control' %>

    <%= f.hidden_field :game_id, :value => @game.id %>

    <%= f.submit "Guess!", class: "btn btn-primary" %>
  </div>
<% end %>

<%= javascript_include_tag "guesses_form" %>
