<%= form_for([@game, @guess]) do |f| %>
  <% if @guess.errors.any? %>
    <div id="error_explanation">
      <h2>There <%= @guess.errors.count == 1 ? 'was an error' : 'were ' + pluralize(@guess.errors.count, "error") %> stopping the guess from being made:</h2>
      <ul>
      <% @guess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :letter, "Letter" %>
    <%= f.text_field :letter, :autocomplete => :off, class: 'form-control' %>

    <%= f.hidden_field :game_id, :value => @game.id %>

    <%= f.submit "Guess!", class: "btn btn-primary" %>
  </div>
<% end %>

<%= javascript_include_tag "guesses_form" %>
