<%= form_for(@game) do |f| %>

  <%= render :partial => "layouts/errors", :locals => { :item => @game } %>

  <div class="actions" data-custom-word="<%= params[:game][:word_to_guess] if params[:game] %>" data-random-word="<%= GamesHelper.random_word %>" data-custom-word-checked="<%= params[:game] && params[:game][:custom_word] ? true : false %>">
    <div>
      <div style="display: inline-block;"><%= f.label :player_id, "Player" %></div>
      <div style="float: right;"><%= link_to "Create New Player", new_player_path %></div>
    </div>
    <%= f.select :player_id, options_for_select(Player.all.map { |player| [player.name, player.id] }), :class => 'form-control' %>

    <div class="custom-word">
      <%= f.check_box :custom_word, { :class => "custom-word-checkbox" }, "checked", "" %>
      <%= f.label :custom_word, "Use own custom word?", { :class => "custom-word-checkbox-label" } %>
    </div>

    <div class="custom-word-field">
      <%= f.label :word_to_guess, "Word to guess" %>
      <%= f.password_field :word_to_guess, class: 'form-control' %>
    </div>

    <%= f.label :number_of_lives, "Number of guesses" %>
    <%= f.text_field :number_of_lives, class: 'form-control' %>

    <%= f.submit "#{ f.object.new_record? ? "Create" : "Save" } Game", class: "btn btn-primary" %>
  </div>
<% end %>
