<p id="notice"><%= notice %></p>

<h1>Hangman Games</h1>

<table cellspacing="20">
  <thead>
    <tr>
      <th><%= sortable("name", "Player") %></th>
      <th><%= sortable("blanks", "Revealed") %></th>
      <th><%= sortable("progress", "Progress") %></th>
      <th><%= sortable("guesses", "Guesses Remaining") %></th>
      <th class="right-aligned">Play</th>
      <th class="right-aligned">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.player.name, game.player %></td>
        <td><%= game.censored_word %></td>
        <td><%= game.progress.to_s.humanize %></td>
        <td><%= game.number_of_lives_remaining %></td>
        <td class="right-aligned"><%= link_to 'Play', game %></td>
        <td class="right-aligned"><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= button_to 'Create New Game', new_game_path, {:class => "btn btn-primary", :method => :get} %>
