<% provide(:title, "Games") %>
<p id="notice"><%= notice %></p>

<h1>Games</h1>

<%= will_paginate @games %>

<table cellspacing="20" class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"><%= sortable("name", "Player") %></th>
      <th><%= sortable("blanks", "Revealed") %></th>
      <th><%= sortable("progress", "Progress") %></th>
      <th><%= sortable("lives", "Lives Remaining") %></th>
      <th><%= sortable("date", "Date Started") %></th>
      <th><%= sortable("ranked", "Ranked") %></th>
      <th colspan="2" class="right-aligned">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <% game_presenter = GamePresenter.new(game) %>
      <% presented_user = UserPresenter.new(game.user) %>
      <tr>
        <td><%= presented_user.gravatar(size: :small) %></td>
        <td><%= link_to game.user.name, game.user %></td>
        <td><%= game_presenter.censored_word %></td>
        <td><%= game_presenter.progression.to_s.humanize %></td>
        <td><%= game.number_of_lives_remaining %></td>
        <td><%= game.created_at.strftime('%a %e %b, %Y') %></td>
        <td><%= game.custom? ? "Custom" : "Ranked" %></td>

        <td class="right-aligned"><%= link_to (current_user == game.user ? 'Play' : 'View'), game %></td>

        <% if current_user.admin? %>
          <td class="right-aligned"><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @games %>

<br />

<%= button_to 'New Ranked Game', new_game_path, {:class => "btn btn-primary", :method => :get} %>
<br />
<%= button_to 'New Custom Game', games_new_custom_path, {:class => "btn btn-secondary", :method => :get} %>
