<p id="notice"><%= notice %></p>

<h1><%= @game.censored_word %></h1>
<h2>Previous Guesses: <%= @game.guessed_letters.join(", ") %></h2>

<%= render 'games/display' %>

<%= link_to 'Back', games_path %>
