<%= form_for(@hangman_state) do |f| %>
  <% if @hangman_state.errors.any? %>
    <div id="error_explanation">
      <h2>There <%= @hangman_state.errors.count == 1 ? 'was an error' : 'were ' + pluralize(@hangman_state.errors.count, "error") %> stopping the game from being saved:</h2>

      <ul>
      <% @hangman_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :player_id, "Player" %>
    <%= f.select :player_id, options_for_select(Player.all.map { |player| [player.name, player.id] }), :class => 'form-control' %>

    <%= f.label :custom_word, "Use own custom word?" %>
    <%= f.check_box :custom_word, { :class => "custom-word-checkbox" }, "checked", "" %>

    <div class="custom-word-field">
      <%= f.label :word_to_guess, "Word to guess" %>
      <%= f.password_field :word_to_guess, class: 'form-control' %>
    </div>

    <%= f.label :number_of_lives, "Number of guesses" %>
    <%= f.text_field :number_of_lives, class: 'form-control' %>

    <%= f.submit (f.object.new_record? ? "Create" : "Save") + " Game", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
$(function() {
  // When the checkbox is toggled, show/hide the custom word field
  var $customWordField = $('.custom-word-field');
  $('.custom-word-checkbox').change(function(e) {
    if ( $(this).is(":checked") )  {
      $customWordField.css("max-height", 60);
      $customWordField.css("opacity", 1);
    } else {
      $customWordField.css("max-height", 0);
      $customWordField.css("opacity", 0);
    }
  });

  // If the field for the custom word was showing, make it expanded by default again
  if (<%= params[:hangman_state] && params[:hangman_state][:custom_word] == "checked" ? true : false %>) {
    $customWordField.addClass('notransition');
    $('.custom-word-checkbox').prop('checked', true);
    $customWordField.css("max-height", 60);
    $customWordField.css("opacity", 1);
    $customWordField[0].offsetHeight;
    $customWordField.removeClass('notransition');
  }

  // Set word to either the last custom word, or a random word by default
  if ( !$('.custom-word-checkbox').is(":checked") )  {
    $('#hangman_state_word_to_guess').val("<%= HangmanStatesHelper.random_word %>")
  } else {
    $('#hangman_state_word_to_guess').val("<%= params[:hangman_state][:custom_word] if params[:hangman_state] %>")
  }

  // Set default number of lives
  if ( $('#hangman_state_number_of_lives').val() == "" )  {
    $('#hangman_state_number_of_lives').val("5")
  }
});
</script>
