<%= form_for(@guess, :url => { :action => "submit_guess", :id => @hangman_state.id }) do |f| %>
  <% if @guess.errors.any? %>
    <div id="error_explanation">
      <h2>There <%= @guess.errors.count == 1 ? 'was an error' : 'were ' + pluralize(@guess.errors.count, "error") %> stopping the guess from being made:</h2>
      <ul>
      <% @guess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :letter, "Letter" %>
    <%= f.text_field :letter, class: 'form-control' %>

    <%= f.hidden_field :hangman_state_id, :value => @hangman_state.id %>

    <%= f.submit "Guess!", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $("#guess_letter").focus();
</script>
