<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>There <%= @player.errors.count == 1 ? 'was an error' : 'were ' + pluralize(@player.errors.count, "error") %> stopping the player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name, "Player name" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.submit (f.object.new_record? ? "Create" : "Save") + " Player", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $("#player_name").focus();
</script>
