<%= form_for(@player) do |f| %>

  <%= render :partial => "layouts/errors", :locals => { :item => @player } %>

  <div class="actions">
    <%= f.label :name, "Player name" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.submit (f.object.new_record? ? "Create" : "Save") + " Player", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $("#player_name").focus();
</script>
