<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Games Won</th>
      <th>Games Lost</th>

      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.ranking %></td>
        <td><%= player.won_games.count %></td>
        <td><%= player.lost_games.count %></td>

        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Delete', player, method: :delete, data: { confirm: "Are you sure? All of the player's games will be lost" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Create New Player', new_player_path, {:class => "btn btn-primary", :method => :get} %>
