<p id="notice"><%= notice %></p>

<h1><%= @player.name %></h1>

<h2>Player Statistics</h2>
<table id="stats">
    <tr>
      <th>Games Won</th>
      <td align="right"><%= @player.won_games.count %></td>
    </tr>
    <tr>
      <th>Games Lost</th>
      <td align="right"><%= @player.lost_games.count %></td>
    </tr>
    <tr>
      <th>Games In Progress</th>
      <td align="right"><%= @player.in_progress_games.count %></td>
    </tr>
    <tr>
      <th>Total Games</th>
      <td align="right"><%= @player.games.count %></td>
    </tr>
    <tr>
      <th>Win-Loss Rate</th>
      <td align="right"><%= "%.2f" % @player.win_loss_rate %></td>
    </tr>
    <tr>
      <th>Ranking</th>
      <td align="right"><%= @ranking %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
